<%- include ("./partials/header.ejs") %>

<h1 class="text-center">Welcome to Cars Go!</h1>
<div class="container">
    <h1 class="text-center">Small Honda Dealership, with the Best Deals</h1>
    <p class="text-center">
        <a href="/cars">Car List</a>
        
      <a href="/profile/cart">In Your Cart</a>
    </p>


    



<%- include ("./partials/footer.ejs") %>
</div>
