<%- include ("./partials/header.ejs") %>

<h1 class="text-center">Welcome to Cars Go!</h1>
<div class="container">
    <h1 class="text-center">Small Honda Dealership</h1>
    <p class="text-center">
        <a href="/cars">Car List</a>
    </p>


    



<%- include ("./partials/footer.ejs") %>
</div>
